#content {
	display: flex;
	justify-content: center;
}

.g-dialogflow {
	&__item {
		stroke: #ddd;
		stroke-width: 5px;
		fill: #eaeaea;
	}
	&__name {
		fill: #3a93a1;
		font-weight: 600;
		font-size: 20px;
		cursor: pointer;
	}
	&__action {
		font-size: 50px;
		fill: #6b9dff;
		cursor: pointer;
	}
}

.g-dialog {
	&__item {
		stroke: #3a93a1;
		stroke-width: 4px;
		fill: #fff;
		&--dropping {
			stroke: #f00;
		}
	}
	&__action {
		fill: blue;
		font-weight: 600;
		cursor: pointer;
	}
	&__name {
		cursor: pointer;
		font-weight: 600;
		fill: #000;
	}
}

.g-intent {
	&__item {
		stroke: #dcdcdc;
		stroke-width: 2px;
		fill: #fff;
	}
	&__drag {
		cursor: all-scroll;
		fill: #253979;
		transition: 0.2s;

		&--selected {
			stroke: #7e89ad;
			stroke-width: 4px;
			pointer-events: none;
		}
	}
	&__connection {
		stroke: #ddd;
		stroke-width: 2px;
		fill: none;
		&:hover {
			stroke-width: 4px;
			stroke: rgb(168, 214, 137);
		}
	}
}

.tm-loader {
	padding: 50px 0;
	text-align: center;
	&__icon {
		font-size: 30px;
	}
}
